
.con{
    margin-top: 30px;
    width: 220px;
    height: 270px;
    display: inline-block;
    box-shadow: 2px 3px 25px rgba(129, 129, 236, 0.705);
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    
}
.imgcont{
    height: 150px;
}
.car-name{
   
    font-size: 19px;
    font-weight: bold;
    color: orangered;
   
}
.images-of-cars{
    border-radius: 5px;
 height: 150px;
 width: 200px;

}

.images-of-cars:hover{
    transform: scale(1.1);
    opacity: 0.5;
    transition: 2s ease-in-out;
   
   }
.bottom{
    display: flex;
    justify-content: space-between;
}
.money{
    width: 20px;
    font-size: larger;
    margin-top: 0px;
}
.money:hover{
    background-color: orangered;
    height: 20px;
    color: black;
    width: 90px;
}
.btn{
    background-color: rgb(231, 20, 214);
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.btn:hover{
    background-color: green;
    cursor:pointe;
   
}
